@import "../../../colors";

.createPortfolio {
  width: 100%;
  background: $white;
  border-radius: 24px;
  padding: 50px;
  box-shadow: 0 6px 30px rgba(132, 136, 142, 0.2);

  .portfolioGrid {
    width: 100%;
    background: $white;
    border-radius: 24px;
    margin: 25px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
    //grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));

    .portfolio{
      border-radius: 12px;
      overflow: hidden;
      img{
        width: 100%;
      }

    }

    .title {
      margin-top: 0;
    }
  }
}
