@import '../../../colors';

.cardCourseStatistics {
  max-width: 345px;
  background: $white;
  border-radius: 16px;
  padding: 8px;
  color: $black;

  .imgCard {
    img {
      width: 100%;
      border-radius: 16px;
    }
  }

  .bodyCard {
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
      font-weight: bold;
      font-size: 20px;
      font-family: 'NunitoSansExtraBold', sans-serif;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-family: 'NunitoSansBold', sans-serif;
    }
  }
}