@import "../../../colors";

.checkPortfolio {
  width: 100%;
  background: $white;
  border-radius: 24px;
  padding: 50px;
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    .card {
      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}
