//$black: #121212;
$purple: #5811CB;
$bg-dashboard: #F5F9FD;
$grey: #BEBEBE;
$yellow: #FFD200;
//$violet: #6A12CC;
$gradient: linear-gradient(90deg, #6A12CC 0%, #4313CD 54.17%, #0048C2 100%);
$gradient2: linear-gradient(90deg, #9A3FFF 0%, #6A35FF 54.17%, #0763FF 100%);
$white: #FFFFFF;
$green: #8AB845;
$lightGreen: #00C152;
$orange: #FFB000;
$violet: #B73AC1;
$blue: #3A5DEF;
$pink: #F2518E;
$black: #272727;
